body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin:-8rem auto;
    margin-top: 2rem;
    width: 90%;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    
}

li {
   display: inline-block;
   margin-right:3rem;
   color: white;
}

a {
    color: black;
    font-weight:600;
}

a:link {
    text-decoration: none;
}

a:visited {
    color:#57554f;
}
a:hover {
    color:#41f08a;
}

.logo {
    padding: 0; 
    margin-top: 0.5em;
    margin: 0;
    margin-right: 43rem;
    
}

section {
    display: flex;
    /* border: 2px solid red; */
    padding-left: 20rem;
    margin:9rem 4rem;
    justify-content: center;

}

.card {
    background-color: white;
    width: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    height:18em;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    left: 2.5rem;
    margin-top: 5.5rem;
    margin-left:2.4rem;
    
    
}

.paging {
   background-color:#F0F0EB;
    width:50%;
}

p {
    text-align: justify;
    line-height:1.3rem;
}



