html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: blanchedalmond;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #E9DED8;
}
p, [for="abtype"] {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
	border:1px solid black;	
}
fieldset{
	border:1px solid black;
	border-radius:0.2rem;
	margin-bottom: 1.5rem;
}
legend{
	font-weight: bold;
	font-size:1.1rem;
	margin-top: 1rem;
	margin-bottom:1rem;
}
label{
	display: block;
	margin-bottom:0.4rem;
}
textarea{
	height: 10rem;
	padding:0.7rem;
}
select{
	font-size:1rem;
}
button{
	font-size:1rem;
	background-color: rgb(30, 30, 253);
	color: white;
	border:none;
	padding: 0.5rem 1rem;
	border-radius:0.2rem;
}
button:hover{
	background-color:rgb(40, 171, 214);
	color: white;
}
input:not([type=radio]):not([type=checkbox]),textarea,select{
	display: block;
	width:50%;
	margin-bottom:1rem;
	padding: 0.2rem 0.5rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	border: none;
	border-radius:0.2rem;
	
}














